#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;
  margin-top: 140px;
  background-color: black;
  color: white;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
img {
  width: 90%;
}
body {
  margin: 0px;
  background-color: #0a0a0a;
}
#header {
  background-color: #202020;

  height: 100px;
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
}
#header img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 470px;
  cursor: pointer;
  transition-duration: 500ms;
}
#header img:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 20px rgb(128, 127, 127);
  animation: vertical.9s linear infinite;
}
input {
  width: 450px;
  background-color: #121212;
  color: white;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #121212;
  margin-left: 350px;
  margin-top: 20px;
}
button {
  background-color: #313131;
  color: white;

  width: 90px;
  height: 40px;
  border-radius: 10px;
  margin-top: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition-duration: 300ms;
}
button:hover {
  transform: scale(1.05);
  background-color: #3a3939;
  cursor: pointer;

  transform: rotate(2deg);
  box-shadow: 3px 3px 20px rgb(83, 83, 83);
  animation: vertical.9s linear infinite;
}
#container > div {
  transition-duration: 1200ms;
}

#container > div:hover {
  cursor: pointer;
  transform: scale(1.2);
}
i {
  transition: 600ms;
}
i:hover {
  transform: scale(1.1);
  animation: horizontal.9s linear infinite;
}
.hidden {
  opacity: 0;
  filter: blur(50px);
  transform: translateX(-100%);
  transition: all 1.5s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
@keyframes vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  65% {
    transform: scale3d(0.85, 1.15, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(0.95, 1.05, 1);
  }
}
@keyframes horizontal {
  0%,
  100% {
    transform: translateX(0);
    transform-origin: 50%, 50%;
  }
  15% {
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}
@media all and (max-width: 767px) {
  #container {
    grid-template-columns: repeat(2, 1fr);
  }
  #header > i {
    width: 50px;
  }
  input {
    width: 170px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  #header {
    width: auto;
    height: auto;
    /* display: flex;
      flex-wrap: wrap; */
  }
  #header > button {
    width: 100px;
    margin-left: 10px;
  }
}
