body {
  background-color: #202020;
  color: white;
}

#header {
  background-color: #202020;

  height: 100px;
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
}
#header img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 470px;
  cursor: pointer;
  transition-duration: 700ms;
}
#header img:hover {
  transform: scale(1.2);
}
#main {
  display: flex;
  height: 610px;
  margin-top: 100px;
}
#video {
  flex: 3;
}
#recommendation {
  margin-top: 10px;
  flex: 1;
  text-align: center;
  line-height: 50px;
  transition-duration: 800ms;
}
input {
  width: 450px;
  background-color: #121212;
  color: white;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #121212;
  margin-left: 350px;
  margin-top: 20px;
}
button {
  background-color: #313131;
  color: white;
  font-weight: bold;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  margin-top: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition-duration: 300ms;
}
button:hover {
  transform: scale(1.05);
  background-color: #3a3939;
  cursor: pointer;
}
#recommendation img {
  width: 80%;
  height: 180px;
}
#recommendation > div {
  transition-duration: 600ms;
}
#recommendation > div:hover {
  transform: scale(1.03);
  cursor: pointer;
}
@media all and (max-width: 767px) {
  #main {
    display: grid;
    gap: 20px;
  }
  #video {
    display: grid;
    width: 100%;

    height: 450px;
  }
  #header > i {
    width: 50px;
  }
  input {
    width: 170px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  #header {
    width: auto;
    height: auto;
    /* display: flex;
      flex-wrap: wrap; */
  }
  #header > button {
    width: 100px;
    margin-left: 10px;
  }
}
